name: CI

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

on:
  push: { branches: [ "main" ] }
  pull_request: { branches: [ "main" ] }

jobs:
  test:

    runs-on: ubuntu-latest
    container: condaforge/mambaforge:latest

    steps:
    - uses: actions/checkout@v3.3.0

    - name: Setup Conda Environment
      run: |
        apt update && apt install -y git make

        make env
        make lint
        make test
        make test-examples
        make docs

        # TODO: Remove this once pydantic 1.0 support is dropped
        #       We remove absolv as femto needs pydantic >=2
        mamba remove  --name smee --yes "absolv"
        mamba install --name smee --yes "pydantic <2"
        make test

    - name: CodeCov
      uses: codecov/codecov-action@v4.1.1
      with:
        file: ./coverage.xml
        flags: unittests
        token: ${{ secrets.CODECOV_TOKEN }}
